# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js
.idea

# testing
coverage

# svelte
.svelte-kit

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo
/packages/ggz-drizzle/src/location_data/georef-netherlands-postcode-pc4.csv
/packages/ggz-drizzle/src/location_data/locaties2.db
/packages/ggz-drizzle/src/location_data/pc4_plaats_mapping.csv
/packages/ggz-drizzle/src/location_data/spellfix.dylib
